{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}پنل استاد - تمرین ها{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'dist/css/bootstrap-rtl.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'dist/css/custom-style.css' %}" />
  </head>

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{% url 'student-login' %}"><b>ورود به پنل دانشجو</b></a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}
          <form method="post">
          {% csrf_token %}
            <div class="input-group mb-3">
              <input required name="email" type="email" class="form-control" placeholder="Email" dir="ltr" />
              <div class="input-group-append">
                <span class="fa fa-envelope input-group-text"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                dir="ltr"
                required
                name="password"
              />
              <div class="input-group-append">
                <span class="fa fa-lock input-group-text"></span>
              </div>
            </div>
            <div class="row">
                <button
                  type="submit"
                  class="btn btn-primary btn-block btn-flat"
                >
                  ورود
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.js' %}"></script>
    <script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'dist/js/demo.js' %}"></script>
  </body>
</html>