{% extends "teacher/base.html" %} 

{% block title %} داشبورد {% endblock %}

{% block sidebar %} 
    {% include "teacher/layout/sidebar.html" with nav_active_item="dashboard" %} 
{% endblock %} 

{% block breadcrumb %}
    {% include "teacher/layout/breadcrumb.html" with breadcrumb_items="داشبورد" %} 
{% endblock %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-info"
          ><i class="fa fa-envelope-o"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تعداد تمرین ها</span>
          <span class="info-box-number">{{ data.practices_count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"
          ><i class="fa fa-film"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تعداد ویدیوها</span>
          <span class="info-box-number">{{ data.videos_count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"
          ><i class="fa fa-film"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تعداد دانشجویان</span>
          <span class="info-box-number">{{ data.students_count }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
