{% extends "teacher/base.html" %} 

{% block title %} ویدیوها {% endblock %}

{% block sidebar %} 
    {% include "teacher/layout/sidebar.html" with nav_active_item="video-list" %}
{% endblock %} 

{% block breadcrumb %}
    {% include "teacher/layout/breadcrumb.html" with breadcrumb_items="داشبورد لیست-ویدیوها" title="لیست ویدیوها" %}
{% endblock %}

{% block content %}
<section class="content">
  <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">ویدیوها</h3>
            <div class="card-tools">
              <button
                class="btn btn-primary btn-sm"
                onclick="location.href += '/create'"
              >
                <i class="fa fa-plus"></i>
                اضافه کردن ویدیو
              </button>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            {% if success_created %}
            <div class="alert alert-success">
                {{ success_created }}
            </div>
            {% endif %}
            <table class="table table-hover">
              <tr>
                <th class="text-center">شماره</th>
                <th class="text-center">عنوان ویدیو</th>
                <th class="text-center">زمان آپلود ویدیو</th>
                <th class="text-center"></th>
              </tr>
              {% for video in videos %}
              <tr>
                <td class="text-center">{{ video.id }}</td>
                <td class="text-center">{{ video.title }}</td>
                <td class="text-center">
                  <span class="badge badge-danger"
                    >{{ video.created_at }}
                  </span>
                </td>
                <td class="text-center">
                  <button class="btn btn-warning btn-sm" onclick="location.href += '/{{ video.id }}'">
                    <i class="fa fa-film"></i>
                    مشاهده ویدیو
                  </button>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
