{% load static %} {% include "layout/header.html" %}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {% include "layout/sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">داشبورد</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item active">تمرین ها</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="row">
            <div class="col">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">ایجاد تمرین جدید</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post">
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="titleInput">عنوان تمرین</label>
                    <input name="title" type="text" class="form-control" id="titleInput" placeholder="عنوان تمرین را وارد کنید">
                  </div>
                  <div class="form-group">
                    <label for="commentInput">توضیحات تمرین</label>
                    <textarea name="comment" class="form-control" id="commentInput" placeholder="توضیحات تمرین را وارد کنید"></textarea>
                  </div>
                  {% comment %} <div class="form-group">
                    <label for="exampleInputFile">ارسال فایل</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div>
                    </div>
                  </div> {% endcomment %}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">ایجاد تمرین</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->

  {% include "layout/footer.html" %}
</body>
</html>
