{% extends "base.html" %} 

{% block sidebar %} 
    {% include "layout/sidebar.html" with nav_active_item="dashboard" %} 
{% endblock %} 

{% block breadcrumb %}
    {% include "layout/breadcrumb.html" with breadcrumb_items="داشبورد" %} 
{% endblock %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-info"
          ><i class="fa fa-envelope-o"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تعداد تمرین ها</span>
          <span class="info-box-number">۱,۴۱۰</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"
          ><i class="fa fa-flag-o"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تعداد ویدیوها</span>
          <span class="info-box-number">۴۱۰</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-danger"
          ><i class="fa fa-star-o"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تعداد دانشجویان</span>
          <span class="info-box-number">۹۳,۱۳۹</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
</section>
{% endblock %}
