{% extends "base.html" %} 

{% block sidebar %} 
    {% include "layout/sidebar.html" with nav_active_item="video-create" %}
{% endblock %} 

{% block breadcrumb %}
    {% include "layout/breadcrumb.html" with breadcrumb_items="داشبورد ویدیوجدید" title="ایجاد تمرین جدید" %}
{% endblock %}

{% block content %}
<section class="content">
<div class="row">
    <div class="col">
    <div class="card card-primary">
        <div class="card-header">
        <h3 class="card-title">ایجاد ویدیو جدید</h3>
        </div>
        <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="titleInput">عنوان ویدیو</label>
                        <input name="title" type="text" class="form-control" id="titleInput" placeholder="عنوان تمرین را وارد کنید">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="videoInput">ارسال فایل</label>
                        <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="videoInput" accept="video/*" name="video">
                            <label class="custom-file-label" for="videoInput">انتخاب فایل</label>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">ایجاد ویدیو</button>
        </div>
        </div>
        </form>
    </div>
</div>
</section>
{% endblock %}

